
/* .splash{
    background: linear-gradient(to top, #66ccff 0%, #ff9933 100%);
    margin-top: -36px;
} */
.main-page{
    margin-top: 20px;    
  
    font-family: 'Viga', sans-serif;
}

.container{
    background: linear-gradient(to top, #66ccff 0%, #ff9933 100%);
    padding: 1% 0 5%;
    margin: 0 8%;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* border: 1px solid lightgrey; */
}

.what-bizzam {
    margin-top: 5%;
    /* border: 1px solid rgba(241, 239, 239, 0.1);
    background-clip: padding-box;
    border-radius: 20px; */
}

.what-bizzam h3{
    color: #23273ed6;
    font-size: 30px;
 
    font-family: 'Viga', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .8px;
}

.what-bizzam p {
    margin: 2% 10% 0 12%;
   
    font-family: 'Viga', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #23273ed6;
    line-height: 1.3;
    letter-spacing: .8px;
}

.main-page-links{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 12%;
}

.links1{
    font-family: 'Viga', sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 15px;
    margin-top: -4px;
}

.main-page-links span{
 
    font-family: 'Viga', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: 23273ed6;
    line-height: 1.3;
    letter-spacing: .8px;
}

.nav-elements li a{
    text-decoration: none;
}

.what-bizzam h3 {
    margin: 20px 10%;
}

#intro{
    margin: 0 auto;
    padding: 3% 10%;
}

/* .line{
    border-top: 1px solid #f4f6f9;
} */

.main-footer{  
    margin-top: 47px;
    margin: 5% 8%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 50px auto;
    padding-right: 4%;
    padding-left: 47px;
    padding-top: 40px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #23274B;
}

.main-footer h4{
    font-size: 18px;
    margin-top: 14px;
    color: #23274B
}

.footer-msg{
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.2px;
}

.footer-left {
    margin-left: 12%;
    line-height: 1.7;
    letter-spacing: 0.2px;
}

.github-link{
    margin-top: 14%;
    letter-spacing: 0.2px;
    margin-left: 6%;
}

.github-link a{
    text-decoration: none;
    color: #23274B;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid #ff9900;
    padding: 16px 36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* background-color:  #ff9900; */
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: #23274B;
    font-weight: 500;
    padding: 5px;
}


.img-play{
    height: 300px;
    width: 400px;
    background-size: cover;
    border-radius: 20px;
    /* opacity: 0.3;  */
    border: 1px solid #ff9900;
    background-image: url('../../assets/board_play.gif');
    position: absolute;
    left: 850px;
    top: 550px;
}
