.theme-title {
    font-size: 22px;
    margin-top: 80px;
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #23273ebf;
}

.theme-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50px;
    right: 100px;
    width: 1200px;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
}

.links{
    font-size: 22px;
    font-weight: 500;
    color: #23273ebf;
    transition: all 0.25s ease-in-out !important;
    text-decoration: none;
}

.theme-form{
    margin-top: 30px;
    margin-left: 10%;
    height: 300px;
    font-family: 'Viga', sans-serif;
    letter-spacing: 1px;
    color: black;
}

.theme-form div {
    margin-bottom: 35px;
}

.theme-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 50px auto;
}

.theme-grid-1 {
    margin-left: 25%;
    margin-top: 28px;
}

.theme-grid-2 {
    margin-top: 40px;
    margin-left: 15%;
}

.theme-grid-2 p {
    margin-bottom: 30px;
}

.theme-grid-2 p span{
    font-family: Bungee Shade;
    font-size: 18px;
    /* font-style: italic; */
}

.theme-input{
    margin-left: 30px;
    font-size: 42%;
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: Bungee Shade;
    background-image: none;
    color: black;

}

.theme-input-1{
    margin-left: 88px;
}

.theme-labels {
    margin-bottom: 40px;
    font-family: Bungee Shade;
    font-size: 18px;
}

.theme-span {
    margin-right: 20px;
}

.theme-btn {
    font-size: 16px;
    border: 1px ridge rgb(187, 182, 182);
    border-radius: 4px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    padding: 5px 20px;
    font-family: Bungee Shade;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 10px 10px 24px rgba(43, 15, 201, 0.1);
    margin-top: 20px;
}

.theme-grid-2 .theme-btn {
    margin-left: -50px;
    margin-top: 10px;
}

.item-input {
    margin-top: 35px;

}

.item-label{
    margin-left: 35px;
}

.item-btn {
    margin-left: 35px;
    margin-top: 35px;
    padding: 9px 49px;
}

.theme-display {
    margin-left: 20px;
}

.move-display {
    margin-left: 70px;
}

.move-display-item{
    margin-left: 64px;
    overflow: scroll;
}
