.theme-title {
    font-size: 22px;
    margin-top: 60px;
    text-align: left;
    margin-left: 43%;
    font-family: 'Viga', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ff9900;
}

.theme-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    margin-top: 2%;
}

.links{
    font-size: 22px;
    font-weight: 500;
    color: #23273ebf;
    transition: all 0.25s ease-in-out !important;
    text-decoration: none;
}

.links:hover {
    color: blue;
}

.theme-form{
    margin-top: 53px;
    margin-left: 41%;
    height: 300px;
    width: 150%;
}

.theme-form div {
    margin-bottom: 35px;
}

.theme-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 50px auto;
}

.theme-grid-1 {
    margin-left: 25%;
    margin-top: 28px;
}

.theme-grid-2 {
    margin-top: 40px;
    margin-left: 15%;
}

.theme-grid-2 p {
    margin-bottom: 30px;
}

.theme-grid-2 p span{
    font-family: Bungee Shade;
    font-size: 18px;
}

.theme-form .theme-input{
    inherit: none;
    margin-left: 30px;
    /* font-size: %; */
    border: 1px solid black;
    padding: 10px 10px;
    color: black;
    width: 25%;
}

.theme-form .theme-input-1{
    margin-left: 88px;
}

.theme-labels {
    margin-bottom: 40px;
    font-family: Bungee Shade;
    font-size: 18px;
    font-family: 'Viga', sans-serif;
    color: #23273ebf;
}

.theme-span {
    margin-right: 20px;
}

.theme-btn {
    font-size: 16px;
    border: 1px groove rgb(187, 182, 182);
    border-radius: 4px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    padding: 5px 20px;
    font-family: 'Viga', sans-serif;
    color: #ff9900;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 10px 10px 24px rgba(43, 15, 201, 0.1);
    margin-top: 20px;
}

.theme-btn:hover {
    color: blue;
}


.theme-form .item-input {
    margin-top: 0px;
    margin-left: 72px;
    padding: 10px 15%;
}

.item-label{
    margin-left: 0;
}

.theme ul{ 
    margin-top: 76px;
    margin-left: 17%;
    width: 30em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 30%;
    grid-row-gap: 2%;
}

.theme ul li {
    list-style-type: none;
}

.theme ul li a{
    text-decoration: none;
    color: blue;
}
.theme ul li a:hover {
    color: #ff9900;
}

