.game-index-div {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    color: #23273ebf;
}

.welcome-game-message {
    margin-left: 42px;
}

.check-icon {
    color: #0000ffab;
    font-size: 35px;
}