.main-page-link{
    text-decoration: none;
}

.project-title {
    font-size: 54px;
    font-weight: 700;
    background: linear-gradient(330deg, #ff9900 0%, #0C2EB7 50%, #ff9900 50%, #0C2EB7 75%, #e05252 100%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: #ff9900;
    margin-top: 40px;
    position: relative;
}

.blue {
    /* color: #0C2EB7; */
    font-size: 42px;
}

.orange {
    /* color: #ff9900; */
    font-size: 42px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    right: 30px;
}

.loggedIn-navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.welcome-message {
    text-align: center;
}


.bounce-top {
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}


.navbar .links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
    color: #0C2EB7;
    padding: 8px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar .links1:hover {
    color: #ff9900;
}


.user-profile-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
}

.home-navbar {
    display: flex;
    flex-direction: row;
    padding-left: 170px;
    padding-right: 170px;

}

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    right: 100px;
}

.logged-in-navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    right: 100px;
}