
.board{
    text-align: center;
    font-size: 16px;
    height: 500px;
    margin-top: 60px;
}

.board-title-1{
    color: #2c3e50;
}

.grid-container {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: auto auto auto;
    width: 350px;
    height: 350px;
    margin: 7% auto;
    padding-right: 9%;
    /* box-shadow: 20px 23px 33px rgba(200, 88, 118, 0.12); */
}

.square-text {
    max-width: 60%;
}

.grid-item {
    background-color: #34495e;
    border: 6px solid #2c3e50;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.selected {
    background-color: #ff8000;
}

.board-form{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-left: 43%;
    height: 200px;
}

.display-boards{
    display: grid;
    grid-template-columns: 50% 50%;
}


.board-inputs{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: 4px grove #eee;
    border-radius: 5px;
    color: blue;
}

.row-input{
    margin-left: 58px;
}


.board-btn{
    border: 4px grove #eee;
    border-radius: 5px;
    color: #ff9900;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
} 